* {
	outline: none;
	scroll-behavior: smooth;
}

.p50 {
	padding: 50px 0;
}

.p20 {
	padding: 20px 0;
}

.p25 {
	padding: 25px 0;
}

.txt-right  {
    text-align: right;
}

i.fa.fa-phone {
    transform: rotate(90deg);
}