{% extends 'core/base.html' %}
{% load static %}
{% load cropping %}
{% block content %}
    <section class="mst-vwd p50">
        <div class="container">
            <div class="all-head">
                <i class="fa fa-search"></i> <h3>Search Results</h3>
            </div>

            <div class="mst-vwd-wrap">
                <div class="row">
                    {% for item in searches %}
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <a href="">
                            <div class="sd-wrap">
                                <div class="sd-img">
                                    <img src="{% cropped_thumbnail item.images.first 'listing' %}">
                                </div>
                                <div class="sd-des">
                                    <div class="sd-title">
                                        <h4>{{ item.name }}</h4>
                                    </div>
                                    <span class="dis-price">{{ item.new_price }}</span>
                                    <span class="rel-price">{{ item.previous_price }}</span>

                                </div>
                            </div>

                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>

{% endblock %}